* {
    background-color:#7395AE;
}

#logo {
    margin-top: 1%;
    margin-right: 1%;
}

#heading {
    color:whitesmoke;
    font-family: 'Lato', serif;
    text-align: center;
    position: relative;
    margin-top: 20%;
    text-transform: unset;
    margin-top: 10%;
}

#purpose {
    text-align: center;
    font-family: 'Alegreya', serif;
    padding-top: 0px;
    color: white;
}